
html{
  background-image: url('Newsbg.jpg');
  text-align: center;
}

body{
  margin: 200;
  font-family: helvetica;
  text-align: center;
  color:white;

}

h1,h2,h3{
  color:white;
  text-transform: capitalize;

}
form{
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  background-color: grey;
  opacity: 0.8;

}
.titre{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 130%;
}
.vaaalider{
  text-align: center;
}
.newss{
  padding:15px;
  margin-right: -120px;
}
.ajouter{
  text-align: center;
}
.Uploader{
  text-align: center;
}
table{

  text-align: center;
  padding: 15px;
  border-radius: 50px;
  background-color: grey;
  opacity: 0.8;
  font-weight: bold;
  text-transform: capitalize;

}
td{
  text-align: center;
}
.tabnews{

  background-position: center;
  padding:20px;

  margin: auto;
  text-align: center;
}
textarea{
  text-align: justify;
  padding: auto;
}
tbody {
  text-align: center;
padding: auto;

}
.newstab{
text-align: center;



}
.images {
  float:center;

  }

.login a{
  float: none;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 2px;
}

.nouveau a{
  float:none;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 25px;

}

 img{
  width:auto;
  height:70;
  background-position: center;
}
img:hover{
 transform: scale(1.2);
}
