
html{
  background-image: url('img/Newsbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body{
  margin: 200;
  font-family: helvetica;
  text-align: center;
  background-position: center;
line-height: 1.5;
  color:white;

}

h1,h2,h3{
  color:white;
  text-transform: uppercase;

}
h1,h2{
  text-shadow: 5px;
}
form{
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  background-color: grey;
  opacity: 0.8;

}
table{

border-spacing: 0px;
border-top: : 10px;
border-left: 80px;
border-color: black;
box-shadow: 15px 30px 40px black;
padding: 15px;
border-radius: 00px;
opacity: 0.8;
font-weight: bold;


}
tr{

padding: 200px;
margin-bottom: 200px;
box-shadow: 15px 30px 40px black;
background-color: grey;
text-align: center;
text-align: justify;


}
td{
box-shadow: 0 4px 2px -2px black;
padding: 50px;
  text-align: center;
}
textarea{
  text-align: justify;
  padding: auto;
}
tbody {
  text-align: center;
padding: auto;
}


 img{
  width:auto;
  height:70;
  background-position: center;
}
img:hover{
 transform: scale(1.2);
}
.titre{
  font-weight: bolder;
  text-align: center;
  padding: 20px;
}
.formaut{
  text-align: center;
  font-weight: bold;
}
.valider{
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.phrase1, .phrase2{
  padding-bottom: 10px;
}
.redac tr{
  text-align: center;

}
.titre1, .titre2, .titre3{
  font-size: monospace;
  padding:10px;
  font-weight: bold;
}
.Uploader{
  padding:10px;
}
